<header class="header py-2">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="d-flex align-items-center gap-5 w-100">
      <div class="logo-div"><img src="../../../../assets/images/GMD-blue.png" height="40" class="mr-2 p-1" />
      </div>
      <p-button (click)="toggleSidenav()" class="square mr-2" [text]="true" severity="secondary ">
        <span>
          <i class="pi pi-align-right"></i>
        </span>
      </p-button>
      <div class="top-alert d-none d-md-block">
        <div class="card">
          <p-messages [(value)]="alertNoteMessages" [enableService]="false" [closable]="false"></p-messages>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <span class="position-relative pointer mr-3">
        <p-button (click)="showNotificationDropdown($event)" class="notificationBtn" severity="secondary"
          [rounded]="true" [text]="true">
          <i class="pi pi pi-bell" pBadge [value]="totalNotifications"></i>
        </p-button>

        <div class="notification " (click)="stopPropogate($event)" [ngClass]="notificationDropdown?'show':''">
          <h4 class="notification-title font-18 p-2 mb-0">Notification</h4>
          <div class="flex flex-column">
            @if (notificationDropdown) {
              <app-latest-notification></app-latest-notification>
            }

            <div class="text-center">
              <a routerLink="/clinic/notification" class="fs-3 p-2 d-block"> View all</a>
            </div>
          </div>
        </div>
      </span>
      <span class="v-hr"></span>

      <div class="d-flex flex-column pointer pl-3 userDropdownMain"
        (click)="showLogoutToggle($event)">

        <div class="d-flex align-items-center user-detail">
          <div class="userImage">
            @if (this.loginUserData?.imageString) {
              <img [src]="this.loginUserData?.imageString" width="40" class="rounded-circle" />
            } @else {
              <img src="../../../../assets/images/user.webp" width="40" class="rounded-circle" >
            }
          </div>
          <div class="d-flex align-items-center">
            <div class="userTopName">
              <span class="font-14 d-block">{{this.loginUserData?.userName}}</span>
              <span class="font-11 text-muted">{{this.loginUserData?.organizationName}}</span>
            </div>

            <span class="{{Profileicon?'profileIcon profileArrow':'profileIcon'}}"><i class="pi pi-angle-right pl-2"
            style="color: #708090"></i>
          </span>
        </div>
      </div>

      @if (Profileicon) {
        <div class="logout-dropdown show" >
          <div class="logout-dropdown-header ">
            <div class="media-body ">
              <h6 class="mt-0 mb-0 font-18" title="Ahad clinic">{{loginUserData?.userName}}</h6>
              <span class="font-13 profile-email ellipsis-two" title="ahad.clinic@yopmail.com">{{loginUserData?.email}}</span>
            </div>
          </div>
          <hr>
            <a class="d-flex align-items-center gap-2" routerLink="/clinic/profile-main" ><i class="pi pi-user"></i> Profile</a>
            <a class=" d-flex align-items-center gap-2" routerLink="/clinic/billing" ><i class="pi pi-file"></i> Billing Details</a>
            <a class=" d-flex align-items-center gap-2" (click)="logout()"><i class="pi pi-sign-out"></i> Sign Out</a>
          </div>
        }



      </div>
    </div>
  </div>
</header>

<!-- <p-menu #menu [model]="items" class="profileDropdown" [popup]="true"></p-menu> -->

