<header class="header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="d-flex align-items-center gap-5">
      <img src="https://uat-portal.guardian-md.com/assets/media/logos/gmd-logo.png" height="40" class="mr-2 p-1" />
      <p-button icon="pi pi-align-right" (click)="toggleSidenav()" class="square" [text]="true"
        severity="secondary "></p-button>

    </div>
    <div class="d-flex gap-3 align-items-center">
      <span class="position-relative pointer mr-3">
        <p-button (click)="showNotificationDropdown($event)" severity="secondary " icon="pi pi-bell" [rounded]="true"
          [text]="true">
          <svg viewBox="64 64 896 896" focusable="false" data-icon="bell" width="1em" height="1em" fill="currentColor"
            aria-hidden="true">
            <path
              d="M816 768h-24V428c0-141.1-104.3-257.7-240-277.1V112c0-22.1-17.9-40-40-40s-40 17.9-40 40v38.9c-135.7 19.4-240 136-240 277.1v340h-24c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h216c0 61.8 50.2 112 112 112s112-50.2 112-112h216c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM512 888c-26.5 0-48-21.5-48-48h96c0 26.5-21.5 48-48 48zM304 768V428c0-55.6 21.6-107.8 60.9-147.1S456.4 220 512 220c55.6 0 107.8 21.6 147.1 60.9S720 372.4 720 428v340H304z">
            </path>
          </svg>
        </p-button>

        <div class="notification " (click)="stopPropogate($event)" [ngClass]="notificationDropdown?'show':''">
          <h4 class="notification-title fw-3 fs-5">Notification</h4>
          <div class="flex flex-column ">
            <div class="d-flex gap-2 single-notification">
              <div class="icon">
                <span class="pi pi-apple"></span>
              </div>
              <div class="text-wraper">
                <p class="m-0 fs-2">I totally would go full with and what I mean with full is the whole . </p>
                <p class="fs-2 m-0 text-muted">about 35 min</p>
              </div>
            </div>
            <div class="d-flex gap-2 single-notification">
              <div class="icon">
                <span class="pi pi-apple"></span>
              </div>
              <div class="text-wraper">
                <p class="m-0 fs-2">I totally would go full with and what I mean with full is the whole . </p>
                <p class="fs-2 m-0 text-muted">about 35 min</p>
              </div>
            </div>
            <div class="text-center">
              <a href="" class="fs-3 p-2 d-block"> View all</a>

            </div>
          </div>
        </div>
      </span>
      <span class="v-hr"></span>
      <div class="d-flex flex-column pointer" (click)="menu.toggle($event)">

        <span class="fs-3">Clinic one</span>
        <span class="fs-2 text-muted">Clinic one</span>
      </div>
    </div>
  </div>
</header>

<p-menu #menu [model]="items" [popup]="true"></p-menu>