.profileGenerateBtn {
    border-color: #edf2f9;
    border: 1px solid #81A143;
    font-size: 14px;
    padding: 0.375rem 14px;
    border-radius: 35px;
    background-color: #81A143;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}