@import '../../../../assets/styles/variable';

.profileGenerateBtn {
    border-color: #edf2f9;
    border: 1px solid $primary-color;
    font-size: 14px;
    padding: 0.375rem 14px;
    border-radius: 35px;
    background-color: $primary-color;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    font-family: $primary-font;

}

.profile-image-wrapper {
    position: relative;

    label {
        position: absolute;
        background-color: white;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        display: block;
        top: 5px;
        right: 10px;
        box-shadow: 0px 0px 4px 0px gray;
        cursor: pointer;
        i {
            font-size: 12px;

        }
    }

    img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 100px;
        border: 2px solid #989898;
      
    }
}