<div class="gmd-main-card">
    <div class="card profile-tab-card">
        <p-tabView>
            <p-tabPanel header="Profile">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="profile-image-wrapper" >
                                    <input type="file" id="upload-icon-profile-images" class="d-none">
                                    <label for="upload-icon-profile-images">
                                        <i class="pi pi-pencil"></i>
                                    </label>
                                    <img class="w-100" src="https://i.pinimg.com/474x/98/51/1e/98511ee98a1930b8938e42caf0904d2d.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">First Name</label>
                                                <input class="gmd-form-input" placeholder="First Name" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-6 pl-1">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Last Name</label>
                                                <input class="gmd-form-input" placeholder="Last Name" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Lab Alert Secret Key</label>
                                                <div class="d-flex">
                                                    <input
                                                        class="gmd-form-input border-top-right-0 border-bottom-right-0"
                                                        placeholder="Lab Alert Secret Key" type="text" pInputText />
                                                    <button class="profileGenerateBtn rounded-0">Generate Key</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Equi life API Key</label>
                                                <input class="gmd-form-input" placeholder="Equi life API Key"
                                                    type="text" pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Lab Code</label>
                                                <input class="gmd-form-input" placeholder="Lab Code" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Email</label>
                                                <input class="gmd-form-input" placeholder="Email" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Mobile Number</label>
                                                <input class="gmd-form-input" placeholder="Mobile Number" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">User name</label>
                                                <input class="gmd-form-input" placeholder="User name" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-right">
                                            <p-button label="Save Changes" class="gmd-primary-btn"></p-button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Change Password">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="gmd-form-group">
                                <label class="gmd-form-label" for="">Current Password</label>
                                <input class="gmd-form-input" placeholder="Enter current password" type="password"
                                    pInputText />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="gmd-form-group">
                                <label class="gmd-form-label" for="">New Password</label>
                                <input class="gmd-form-input" placeholder="Enter new password" type="password"
                                    pInputText />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="gmd-form-group">
                                <label class="gmd-form-label" for="">Verify Password</label>
                                <input class="gmd-form-input" placeholder="Enter verify password" type="password"
                                    pInputText />
                            </div>
                        </div>

                        <div class="col-md-12 text-right">
                            <p-button label="Save Changes" class="gmd-primary-btn"></p-button>
                        </div>
                    </div>
                </form>
            </p-tabPanel>
            <p-tabPanel header="Verify Number">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gmd-form-group">
                            <label class="gmd-form-label font-16" for="">Mobile Number</label>
                            <input class="gmd-form-input" placeholder="056-786-9999" type="password" pInputText />
                        </div>
                    </div>

                    <div class="col-md-12 text-right">
                        <p-button label="Verify Number" class="gmd-primary-btn"></p-button>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Agreements">
                <p>
                    Agreements
                </p>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>