<div class="gmd-main-card">
    <div class="card profile-tab-card">
        <p-tabView>
            <p-tabPanel header="Profile">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-lg-3">
                                Upload
                            </div>
                            <div class="col-lg-9">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">First Name</label>
                                                <input class="gmd-form-input" placeholder="First Name" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-6 pl-1">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Last Name</label>
                                                <input class="gmd-form-input" placeholder="Last Name" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Equi life API Key</label>
                                                <input class="gmd-form-input" placeholder="Equi life API Key"
                                                    type="text" pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Lab Code</label>
                                                <input class="gmd-form-input" placeholder="Lab Code" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Email</label>
                                                <input class="gmd-form-input" placeholder="Email" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">Mobile Number</label>
                                                <input class="gmd-form-input" placeholder="Mobile Number" type="text"
                                                    pInputText />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="gmd-form-group">
                                                <label class="gmd-form-label" for="">User name</label>
                                                <input class="gmd-form-input" placeholder="User name" type="text"
                                                    pInputText />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Change Password">
                <p>
                    Change Password
                </p>
            </p-tabPanel>
            <p-tabPanel header="Verify Number">
                <p>
                    Verify Number
                </p>
            </p-tabPanel>
            <p-tabPanel header="Agreements">
                <p>
                    Agreements
                </p>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>