@if (hasErrorWhenDirty('min')) {
  <small class="p-error">
    <span class="mr-1">
      <i class="pi pi-info-circle" style="font-size: .8rem"></i>
    </span>
    {{ displayName }} must be minimum {{ getErrorProperty('min','min') }}
  </small>
}
@if (hasErrorWhenDirty('max')) {
  <small class="p-error">
    <span class="mr-1">
      <i class="pi pi-info-circle" style="font-size: .8rem"></i>
    </span> {{ displayName }} must be maximum {{ getErrorProperty('max','max') }}
  </small>
}
@if (hasErrorWhenDirty('required')) {
  <small class="p-error input-error">
    <span class="mr-1">
      <i class="pi pi-info-circle" style="font-size: .8rem"></i>
    </span>
    {{ displayName }} is required
  </small>
}
@if (hasErrorWhenDirty('email')) {
  <small class="p-error">
    <span class="mr-1">
      <i class="pi pi-info-circle" style="font-size: .8rem"></i>
    </span> {{ displayName }} must be a valid email
  </small>
}
@if (hasErrorWhenDirty('minlength')) {
  <small class="p-error">
    <span class="mr-1">
      <i class="pi pi-info-circle" style="font-size: .8rem"></i>
    </span>{{ displayName }} must be minimum {{getErrorProperty('minlength', 'requiredLength') }} characters
  </small>
}
@if (hasErrorWhenDirty('maxlength')) {
  <small class="p-error">
    <span class="mr-1">
      <i class="pi pi-info-circle" style="font-size: .8rem"></i>
    </span> {{ displayName }} must be maximum {{ getErrorProperty('maxlength', 'requiredLength') }} characters
  </small>
}
@if (hasErrorWhenDirty('pattern')) {
  <small class="p-error">
    <span class="mr-1">
      <i class="pi pi-info-circle" style="font-size: .8rem"></i>
    </span> {{ displayName }} must follow the pattern {{ getErrorProperty('pattern', 'requiredPattern') }}
  </small>
}
@if (hasErrorWhenDirty('null')) {
  <small class="p-error">
    <span class="mr-1">
      <i class="pi pi-info-circle" style="font-size: .8rem"></i>
    </span>{{ displayName }} must have a value
  </small>
}