<p-toast></p-toast>
<section class="panel window surface-ground">
  <div class="panel-header">
    <app-header></app-header>

  </div>
  <div class="panel-body">
    <div class="panel-side" [ngClass]="showNav?'':'hide-nav'" [ngClass]="isScreenSmall ? 'hide-nav' : ''">
      <app-side-nav></app-side-nav>
    </div>
    <div class="panel-content">
      <div class="content-body portal-main-content">
        @if (isLoading) {
          <app-loader></app-loader>
        }
        <div class="top-alert d-md-none mb-3">
          <div class="card">
            <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</section>