@import '../../../../styles/variable';

.sideNavbar-main {
  min-width: 230px;
  width: 230px;
  background: #fff;
  position: absolute;
  z-index: 99;
  height: calc(100% - 66px);
  border-left: solid #dee2e6 !important;
  transition: .3s ease-in-out all;
  transform: translateX(0);

  &.slide-back {
    transform: translateX(-300px);
  }

  .main-menu {
    overflow: auto;

    .sidebar-ul {
      list-style: none;
      padding: 0px;
      overflow: auto;

      .menu-item {
        .menu-link {
          display: flex;
          align-items: center;
          justify-content: left;
          color: #575757 !important;
          border-right: 3px solid transparent !important;
          padding: 10px 8px 10px 16px;
          font-size: 13.5px;
          text-decoration: none;
          display: flex;
          gap: 10px;
          height: 41px;
          cursor: pointer;
          // font-family: $primary-font;

          &.active {
            background: #83c6e74c;
            border-color: $primary-color !important;
          }

          .rotateArrow {
            transform: rotate(0deg);
            transition: all ease .3s;
          }
        }

        .submenu {
          max-height: 0px;
          overflow: hidden;
          height: 100%;
          transition: .3s ease-in-out all;
          padding-left: 1rem;
          list-style: none;
        }

        &.show {
          .menu-link {
            .rotateArrow {
              transform: rotate(90deg);
            }
          }

          .submenu {
            max-height: 200px;
          }
        }
      }
    }

    .gmd-resource-Container {
      display: block;
      position: fixed;
      bottom: 55px;
      z-index: 9999999;
      width: 300px;
      left: 11px;
      border-radius: 22px;
      box-shadow: 0 0 6px 1px #eaeaeafc;
      border: 1px solid var(--border-color);
      background: white;
      transition: transform .3s ease;

      .gmd-resource-card {
        .gmd-resource-header {
          background: $primary-color;
          padding: 15px 15px 90px;
          border-radius: 22px 22px 0 0;
        }

        .gmd-resource-body {
          background: white;
          box-shadow: 0px 0px 40px -10px gainsboro;
          border-radius: 22px;
          padding: 15px;
          border: 1px solid gainsboro;
          margin: -40px 8px 8px;
          min-height: 330px;
          position: relative;

          .no_data_img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
              width: 100px;
            }
          }

          .gmd-resource-Iconwrapper {
            .Unit-container {
              max-height: 160px;
              overflow-y: auto;
              padding-right: 6px;

              a {
                background: #83C6E74C;
                padding: 10px;
                display: flex;
                align-items: center;
                margin: 7px 0;
                border-radius: 15px;
                text-decoration: none;

                &:first-child {
                  margin-top: 0;
                }

                .gmd-recourse-unit {
                  .icon {
                    width: 25px;
                    display: inline-block;
                    color: #314f84;
                  }

                  .label {
                    color: #314f84;
                    font-size: 13px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }

      &.isClose {
        transform: translateX(-105%);
        transition: transform .3s ease;
      }
    }
  }
}

.sidebar-footer {
  .profile-main-sidebar {
    padding: 6px 8px 6px 16px;
    background-color: #83C6E74C;

    .exp-specialist-wrapper {
      .imgDetailWrapper {
        .img {
          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
          }
        }
      }
    }
  }

  .gmd-resource-icon {
    border-radius: 30px 0px 30px 30px;
    background-color: $primary-color;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 8px 14px;
    margin-left: 2px;
    max-width: 124px;
    display: flex;
  }
}


.resourceClose:focus {
  border: 0;
  outline: 0;
}

.resourceClose {
  font-size: 22px;
  background: blue;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}