/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/bootstrap.css";
@import "./assets/styles/grid";
@import "./assets/styles/_variable.scss";
@import "./assets/styles/common";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@import "primeicons/primeicons.css";
@import "./assets/styles/primeng-overwrite";
body{
    font-size: 14px;
}
.btn.btn-rounded,
a:link.btn.btn-rounded {
    border-radius: 50px;
    padding: 8px 25px;
    font-weight: 600;
}

body {
    font-family: 'Lato', sans-serif !important;
    margin: 0;
}

.text-muted {
    color: #314358 !important;
}

.text-danger {
    color: #dc3545 !important;
}

p {
    line-height: 1.7;
}

.portal-main-content {
    overflow: auto;
    padding: 1rem;
    flex: 1 1 auto;
    min-height: 1px;
    display: flex;
    flex-direction: column;
}

.gmd-main-card {
    padding: 10px 15px;
    text-align: center;
    border-radius: 22px;
    min-height: 106px;
    background: #fff;
    border: 1px solid #edf2f9;
    box-shadow: 2px 2px 30px -7px rgb(0 0 0 / 5%);
    display: block;
}

// gmd form global scss 
.gmd-form-group {
    text-align: left;
    margin-bottom: 1rem;

    .gmd-form-label {
        font-size: 13px;
        color: #343434;
        font-weight: 500;
        margin-bottom: 0.5rem;
        font-family: $primary-font;
    }

    .gmd-form-input {
        height: 35px;
        font-size: 13px;
        border-radius: 6px;
        color: #343434;
        padding-top: 4px;
        border: 1px solid #d9d9d9;
        display: block;
        width: 100%;
        font-family: $primary-font;

        &:focus {
            border-color: $primary-color;
            box-shadow: none;
        }
    }
}

.gmd-primary-btn {
    button {
        border-color: #edf2f9;
        border: 1px solid $primary-color;
        font-size: 14px;
        padding: 0.375rem 14px;
        border-radius: 35px;
        background-color: $primary-color;
        color: white;
        white-space: nowrap;
        border-radius: 35px;
        height: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: $primary-font;
    }

    &.w-100 {
        button {
            width: 100%;
        }
    }
}

.card-common-bg {
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 0px 0px 20px -8px gainsboro;
}

/* scroll bar css */

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #919da32b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbcdd1;
}
.form-group {
    .p-dropdown{
        width: 100%;
    }
}
.p-submenu-header{
    display: none;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b7c0;
}
.gmd-table{
    .p-datatable-header{
        button{
            padding: 0.55rem 1.25rem;
            font-size: 14px;
            font-weight: 500;
        }
        background-color: white !important;
        border: 0px solid transparent !important;
        .pi-search{
            top: 20px !important;
            font-size: 14px ;
            font-size: 900;
        }
        .p-inputtext{
         padding:0.55rem 0.75rem;
         padding-left: 2.5rem !important;
         &::placeholder{
            font-size: 14px;
            font-weight: 400;
         }
        }
    }
    th{
        background-color: #fafafa !important;
        border-top: 0px solid transparent !important;
        border-bottom: 1px solid #f0f0f0 !important;
        padding: 4px 1rem !important;
        &.p-sortable-column[aria-sort="none"]{
            .p-icon-wrapper{
                svg{
                    width: 12px !important;
                    opacity: .6;
                }
            }
        }
        font-size: 14px;
        font-weight: 500 !important;
        .p-icon-wrapper{
            svg{
                width: 12px !important;
            }
        }
    }
    
}

.gmd-card {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 22px;
}