<p-toast></p-toast>
<div class="h-100">
    <div class="gmd-login-main position-relative">
        <div class="login-back-design">
            <div class="top-design"></div>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>  
        <div class="main-wrapper">
            <div class="sign-in-form">
                <img class="login-logo my-4" alt="Gmd" ngSrc="/assets/images/gmd-logo.png" width="240" height="50" priority />
                <div class="card-custom">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

